@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	/* Neutral Colors */
	--neutral-100: white;
	--neutral-200: #f0f2f4;
	--neutral-300: #e4e7ec;
	--neutral-400: #c3cad5;
	--neutral-500: #8895aa;
	--neutral-600: #5d6c83;
	--neutral-700: #2d343f;
	--neutral-800: #1b1f24;

	/* Primary/Accent Colors */
	--accent-primary-1: #075fe4;
	--secondary-color-1: #2e81ff;

	/* System Colors (Status) */
	--system-blue-100: #eaf4ff;
	--system-blue-200: #8fc3ff;
	--system-blue-300: #1d88fe;
	--system-blue-400: #086cd9;

	--system-green-100: #def2e6;
	--system-green-200: #7fdca4;
	--system-green-300: #05c168;
	--system-green-400: #11845b;

	--system-red-100: #ffeff0;
	--system-red-200: #ffbec2;
	--system-red-300: #ff5a65;
	--system-red-400: #dc2b2b;

	--system-orange-100: #fff3e4;
	--system-orange-200: #ffd19b;
	--system-orange-300: #ff9e2c;
	--system-orange-400: #d5691b;

	/* Shadows (Optional) */
	--shadow-01: #14142b0f;
	--shadow-02: #14142b14;
	--shadow-03: #14142b1a;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--neutral-800);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
